<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
		xmlns:jaxws="http://cxf.apache.org/jaxws"
		jaxws:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="serverProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/connection.properties</value>
			</list>
		</property>
	</bean>
  
    <bean
        id="strabonBean"
        class="eu.earthobservatory.org.StrabonEndpoint.StrabonBeanWrapper"
        destroy-method="destroy">

        <constructor-arg type="java.lang.String" >
            <!-- Database name -->
            <value>${dbname}</value>
        </constructor-arg>

        <constructor-arg type="java.lang.String" >
            <!-- Username -->
            <value>${username}</value>
        </constructor-arg>

        <constructor-arg type="java.lang.String" >
            <!-- Password -->
	    <value>${password}</value>
        </constructor-arg>

        <constructor-arg type="int" >
            <!-- Port -->
            <value>${port}</value>
        </constructor-arg>

        <constructor-arg type="java.lang.String" >
            <!-- Database server -->
            <value>${hostname}</value>
        </constructor-arg>

        <constructor-arg type="boolean" >
            <!-- Check for locks and remove them (in case of a crash) -->
            <value>true</value>
        </constructor-arg>

        <constructor-arg type="java.lang.String" >
            <!-- Database Backend (either "postgis" or "monetdb") -->
            <value>${dbengine}</value>
        </constructor-arg>
        
        <constructor-arg type="int" >
            <!-- Query limit -->
            <value>1000</value>
        </constructor-arg>
        
        <constructor-arg>
             <list>
             	<list>
             		<!-- Single valued elements correspond to headers -->
					<value>Dataset Presentation</value>
	            </list>
				<list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>[CLC] Select all CLC information for Venice</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX strdf:<http://strdf.di.uoa.gr/ontology#>
PREFIX rdf:<http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>

SELECT ?clc ?clcType ?clcID ?clcCode ?clcRemark ?clcShapeLength ?clcArea ?clcAreaHa ?clcLandUse ?clcGeo
WHERE {
   ?clc a ?clcType .
   ?clc teleios:hasCode ?clcCode .
   ?clc teleios:hasID ?clcID .
   ?clc teleios:hasRemark ?clcRemark  .
   ?clc teleios:hasShape_Leng ?clcShapeLength .
   ?clc teleios:hasShape_Area ?clcArea .
   ?clc teleios:hasArea_ha ?clcAreaHa .
   ?clc teleios:hasLandUse ?clcLandUse .
   ?clc teleios:hasGeometry ?clcGeo .
   #Venice
   FILTER (strdf:anyInteract(?clcGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?clcGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?clcGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>[LGD] Select all LGD information for Venice</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX strdf:<http://strdf.di.uoa.gr/ontology#>
PREFIX rdf:<http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX lgd:<http://linkedgeodata.org/triplify/>
PREFIX lgdgeo:<http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX lgdont:<http://linkedgeodata.org/ontology/>

SELECT ?lgd ?lgdDirectType (GROUP_CONCAT(?lgdType ; separator=", ") AS ?lgdTypes) ?lgdLabel ?lgdGeo
WHERE {
   ?lgd lgdont:directType ?lgdDirectType .
   OPTIONAL {
      ?lgd a ?lgdType .
      FILTER ((?lgdType != lgdont:Node) && (?lgdType != ?lgdDirectType)) .
   }
   ?lgd rdfs:label ?lgdLabel .
   ?lgd lgdgeo:geometry ?lgdGeo .
   #Venice
   FILTER (strdf:anyInteract(?lgdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?lgdGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?lgdGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .

}
GROUP BY ?lgd ?lgdDirectType ?lgdLabel ?lgdGeo
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>[Geonames] Select all Geonames information for Venice</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX strdf:<http://strdf.di.uoa.gr/ontology#>
PREFIX rdf:<http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX lgd:<http://linkedgeodata.org/triplify/>
PREFIX lgdgeo:<http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX lgdont:<http://linkedgeodata.org/ontology/>
PREFIX geonames:<http://www.geonames.org/ontology#>

SELECT ?geoID ?name (GROUP_CONCAT(?altName; separator=", ") AS ?altNames) ?parentFeature ?parentCountry ?parentADM1 ?parentADM2 ?parentADM3 (GROUP_CONCAT(?near; separator=", ") AS ?nearFeatures) ?geoIdGeo
WHERE {
?geoId geonames:name ?name .
OPTIONAL {?geoId geonames:alternateName ?altName } .
?geoId geonames:featureClass ?geoFeature .
?geoId geonames:countryCode ?country .
OPTIONAL {?geoId geonames:parentFeature ?parentFeature . } .
OPTIONAL {?geoId geonames:parentCountry ?parentCountry . } .
OPTIONAL {?geoId geonames:parentADM1 ?parentADM1 . } .
OPTIONAL {?geoId geonames:parentADM2 ?parentADM2 . } .
OPTIONAL {?geoId geonames:parentADM3 ?parentADM3 . } .
OPTIONAL {?geoId geonames:nearbyFeatures ?near . } .
?geoId teleios:hasGeography ?geoIdGeo .
   #Venice
   FILTER (strdf:anyInteract(?geoIdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?geoIdGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?geoIdGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY  ?geoID ?name ?parentFeature ?parentCountry ?parentADM1 ?parentADM2 ?parentADM3 ?geoIdGeo
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>[DLR] Select all patches and their corresponding labels</value> 
	                <!-- Statement -->
	                <value><![CDATA[#select all patches and their labels (Venice)
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>


SELECT ?g (GROUP_CONCAT(?annotation; separator=", ") AS ?labels)
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   #Venice
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?g, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?g, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?g
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>[DLR] Select all patches corresponding to water</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>


SELECT ?g (GROUP_CONCAT(?annotation; separator=", ") AS ?labels)
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo dlr:Water .
   #Venice
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?g, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?g, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?g
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>[DLR] Select all patches corresponding to all subclasses of water</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>


SELECT ?g (GROUP_CONCAT(?annotation; separator=", ") AS ?labels)
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   ?annotation rdfs:subClassOf dlr:Water .
   #Venice
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?g, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?g, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?g
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>	            
	            <list>
             		<!-- Single valued elements correspond to headers -->
					<value>First level statistics</value>
	            </list>
				<list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[DLR] How many labels are identified in a scene?</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?annotation (COUNT(DISTINCT ?p) AS ?numberOfPatches)
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   #Venice
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?g, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?g, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?annotation
ORDER BY DESC(?numberOfPatches)]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[CLC] How many instances of a CLC class exist in a scene?</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>


SELECT ?clcLandUse (COUNT(DISTINCT ?clc) AS ?count)
WHERE {
   ?clc a teleios:Area .
   ?clc teleios:hasCode ?clcCode .
   ?clc teleios:hasLandUse ?clcLandUse .
   ?clc teleios:hasGeometry ?clcGeo .

   #Venice
   FILTER (strdf:anyInteract(?clcGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?clcGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?clcGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?clcLandUse
ORDER BY DESC(?count)]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value></value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[LGD] How many LGD classes are identified in a scene? (coarse-grained)</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?lgdType (COUNT(DISTINCT ?lgd) AS ?count)
WHERE {
   ?lgd lgdont:directType ?lgdDirectType .
   OPTIONAL {
      ?lgd a ?lgdType .
      FILTER ((?lgdType != lgdont:Node) && (?lgdType != ?lgdDirectType)) .
   }
   ?lgd lgdgeo:geometry ?lgdGeo .
   #Venice
   FILTER (strdf:anyInteract(?lgdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?lgdGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?lgdGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .

}
GROUP BY ?lgdType
ORDER BY DESC(?count)]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value></value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[LGD] How many LGD classes are identified in a scene? (fine-grained)</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?lgdDirectType (COUNT(DISTINCT ?lgd) AS ?count)
WHERE {
   ?lgd lgdont:directType ?lgdDirectType .
   OPTIONAL {
      ?lgd a ?lgdType .
      FILTER ((?lgdType != lgdont:Node) && (?lgdType != ?lgdDirectType)) .
   }
   ?lgd lgdgeo:geometry ?lgdGeo .
   #Venice
   FILTER (strdf:anyInteract(?lgdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?lgdGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?lgdGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .

}
GROUP BY ?lgdDirectType
ORDER BY DESC(?count)]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value></value>
	            </list>
	             <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[Geonames] How many Geonames classes are identified in a scene?</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?geoFeature ?comment (COUNT(DISTINCT ?geoId) AS ?count)
WHERE {
?geoId geonames:name ?name .
OPTIONAL {?geoId geonames:alternateName ?altName } .
?geoId geonames:featureClass ?geoFeature .
?geoFeature rdfs:comment ?comment .
?geoId geonames:countryCode ?country .
?geoId teleios:hasGeography ?geoIdGeo .
   #Venice
   FILTER (strdf:anyInteract(?geoIdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?geoIdGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?geoIdGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?geoFeature ?comment
ORDER BY DESC(?count)
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value></value>
	            </list>
	            
	            <list>
             		<!-- Single valued elements correspond to headers -->
					<value>Discover correlations between datasets</value>
	            </list>
				<list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[CLC-DLR] List all labels that are inside an area charatecterized as continuous urban fabric by CLC</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX geof:<http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>

SELECT DISTINCT ?clcLandUse ?annotation #?g 
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   ?clc a ?clcType .
   ?clc teleios:hasCode ?clcCode .
   ?clc teleios:hasID ?clcID .
   ?clc teleios:hasLandUse teleios:continuousUrbanFabric .
   ?clc teleios:hasGeometry ?clcGeo .
   FILTER (strdf:anyInteract(?clcGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   FILTER (geof:sf-contains(?clcGeo, ?g)) . 
}
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[CLC-DLR] List all CLC classes and the labels that are identified inside their instances.</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX geof:<http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>

SELECT ?clcLandUse(GROUP_CONCAT(DISTINCT ?annotation; separator=",\n\t\t\t\t\t ") AS ?annotations)  #?g 
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   ?clc a ?clcType .
   ?clc teleios:hasCode ?clcCode .
   ?clc teleios:hasID ?clcID .
   ?clc teleios:hasLandUse ?clcLandUse .
   ?clc teleios:hasGeometry ?clcGeo .
   FILTER (strdf:anyInteract(?clcGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   FILTER (geof:sf-contains(?clcGeo, ?g)) . 
}
GROUP BY ?clcLandUse
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value></value>
	            </list>
	             <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[DLR-LGD] List all labels and the LGD classes with instances inside patches annotated with each label (coarse-grained).</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?annotation (GROUP_CONCAT(DISTINCT ?lgdType; separator=",\n\t\t\t\t\t ") AS ?lgdTypes)  #?g 
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   ?lgd lgdont:directType ?lgdDirectType .
   OPTIONAL {
      ?lgd a ?lgdType .
      FILTER ((?lgdType != lgdont:Node) && (?lgdType != ?lgdDirectType)) .
   }
   ?lgd lgdgeo:geometry ?lgdGeo .
   FILTER (strdf:anyInteract(?lgdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   
   FILTER (geof:sf-contains(?g, ?lgdGeo)) . 
}
GROUP BY ?annotation
ORDER BY ?annotation]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
	             <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[DLR-LGD] List all labels and the LGD classes with instances inside patches annotated with each label (fine-grained).</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?annotation (GROUP_CONCAT(DISTINCT ?lgdDirectType; separator=",\n\t\t\t\t\t ") AS ?lgdDirectTypes)  #?g 
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

    ?lgd lgdont:directType ?lgdDirectType .
   OPTIONAL {
      ?lgd a ?lgdType .
      FILTER ((?lgdType != lgdont:Node) && (?lgdType != ?lgdDirectType)) .
   }
   ?lgd lgdgeo:geometry ?lgdGeo .
   #Venice
   FILTER (strdf:anyInteract(?lgdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   
   FILTER (geof:sf-contains(?g, ?lgdGeo)) . 
}
GROUP BY ?annotation
ORDER BY ?annotation]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
	             <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[DLR-Geonames] List all labels and the GeoNames classes with instances inside patches annotated with each label.</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?annotation (GROUP_CONCAT(DISTINCT ?geoFeature; separator=",\n\t\t\t\t\t ") AS ?geoFeatures)  (GROUP_CONCAT(DISTINCT ?comment; separator=",\n\t\t\t\t\t ") AS ?comments)
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   ?geoId geonames:name ?name .
   OPTIONAL {?geoId geonames:alternateName ?altName } .
   ?geoId geonames:featureClass ?geoFeature .
   ?geoFeature rdfs:comment ?comment .
   ?geoId geonames:countryCode ?country .
   ?geoId teleios:hasGeography ?geoIdGeo .
   #Venice
   FILTER (strdf:anyInteract(?geoIdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   
   FILTER (geof:sf-contains(?g, ?geoIdGeo)) . 
}
GROUP BY ?annotation
ORDER BY ?annotation]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
	            <list>
             		<!-- Single valued elements correspond to headers -->
					<value>Second level statistics</value>
	            </list>
				<list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[CLC-DLR] How many patches with a specific label are contained by a CLC area?</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?clcLandUse ?annotation (COUNT(?p) AS ?numberOfPatches)
WHERE {
   #select corine areas
   ?clc a teleios:Area .
   ?clc teleios:hasLandUse ?clcLandUse .
   ?clc teleios:hasGeometry ?clcGeo .
   #Venice
   FILTER (strdf:anyInteract(?clcGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?clcGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?clcGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .

   #select patches
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l dlr:correspondsTo ?annotation .
   #Venice
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:anyInteract(?g, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:anyInteract(?g, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
   
   #FILTER (geof:sf-contains(?clcGeo, ?g)) .
   FILTER (strdf:contains(?clcGeo, ?g)) .
}
GROUP BY ?clcLandUse ?annotation
ORDER BY ?clcLandUse DESC(?numberOfPatches)]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
	             <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[DLR-LGD] How many LGD instances are contained by a patch annotated with a specific label? (coarse-grained)</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?annotation ?lgdType (COUNT(?lgd) AS ?lgdInstances)
WHERE {
   #select patches
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l dlr:correspondsTo ?annotation .
   #Venice
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .   
   
   #select LGD instances
   ?lgd lgdont:directType ?lgdDirectType .
   ?lgd a ?lgdType .
   FILTER ((?lgdType != lgdont:Node) && (?lgdType != ?lgdDirectType)) .
   ?lgd lgdgeo:geometry ?lgdGeo .
   #Venice
   FILTER (strdf:anyInteract(?lgdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   
   FILTER (geof:sf-contains(?g, ?lgdGeo)) .
}
GROUP BY ?annotation ?lgdType
ORDER BY ?annotation DESC(?lgdInstances)]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
				<list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[DLR-LGD] How many LGD instances are contained by a patch annotated with a specific label? (fine-grained)</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?annotation ?lgdDirectType (COUNT(?lgd) AS ?lgdInstances)
WHERE {
   #select patches
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l dlr:correspondsTo ?annotation .
   #Venice
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .   
   
   #select LGD instances
   ?lgd lgdont:directType ?lgdDirectType .
   ?lgd a ?lgdType .
   FILTER ((?lgdType != lgdont:Node) && (?lgdType != ?lgdDirectType)) .
   ?lgd lgdgeo:geometry ?lgdGeo .
   #Venice
   FILTER (strdf:anyInteract(?lgdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   
   FILTER (geof:sf-contains(?g, ?lgdGeo)) .
}
GROUP BY ?annotation ?lgdDirectType
ORDER BY ?annotation DESC(?lgdInstances)]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
				<list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>[DLR-Geonames] How many Geonames instances are contained by a patch annotated with a specific label?</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX geof: <http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>
PREFIX lgd: <http://linkedgeodata.org/triplify/>
PREFIX lgdont: <http://linkedgeodata.org/ontology/>
PREFIX lgdgeo: <http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX geonames: <http://www.geonames.org/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology-v2.owl#>

SELECT ?annotation ?geoFeature ?comment (COUNT(?geoId) AS ?geoIdInstances)
WHERE {
   #select patches
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l dlr:correspondsTo ?annotation .
   #Venice
   FILTER (strdf:anyInteract(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .   
   
   #select Geonames instances
   ?geoId geonames:name ?name .
   OPTIONAL {?geoId geonames:alternateName ?altName } .
   ?geoId geonames:featureClass ?geoFeature .
   ?geoFeature rdfs:comment ?comment .
   ?geoId geonames:countryCode ?country .
   ?geoId teleios:hasGeography ?geoIdGeo .
   #Venice
   FILTER (strdf:anyInteract(?geoIdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   
   FILTER (geof:sf-contains(?g, ?geoIdGeo)) .
}
GROUP BY ?annotation ?geoFeature ?comment
ORDER BY ?annotation DESC(?geoIdInstances)]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>

				<list>
             		<!-- Single valued elements correspond to headers -->
					<value>Explore/Modify operations</value>
	            </list>
	            <list>
             		<!-- Link to bean: two arguemnts -->
					<value>Store</value>
					<value>store.jsp</value>
	            </list>
	            <list>
             		<!-- Link to bean: two arguemnts -->
					<value>Query/Update</value>
					<value>query.jsp</value>
	            </list>
	            <list>
             		<!-- Link to bean: two arguemnts -->
					<value>Describe</value>
					<value>describe.jsp</value>
	            </list>
	            <list>
             		<!-- Link to bean: two arguemnts -->
					<value>Browse</value>
					<value>browse.jsp</value>
	            </list>
				<list>
					<!-- Link to bean: two arguemnts -->
					<value>Configuration</value>
					<value>ChangeConnection</value>
				</list>
            </list>
         </constructor-arg>
    </bean>
</beans>
