<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
		xmlns:jaxws="http://cxf.apache.org/jaxws"
		jaxws:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<bean id="serverProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/connection.properties</value>
			</list>
		</property>
	</bean>
  
    <bean
        id="strabonBean"
        class="eu.earthobservatory.org.StrabonEndpoint.StrabonBeanWrapper"
        destroy-method="destroy">

        <constructor-arg type="java.lang.String" >
            <!-- Database name -->
            <value>${dbname}</value>
        </constructor-arg>

        <constructor-arg type="java.lang.String" >
            <!-- Username -->
            <value>${username}</value>
        </constructor-arg>

        <constructor-arg type="java.lang.String" >
            <!-- Password -->
	    <value>${password}</value>
        </constructor-arg>

        <constructor-arg type="int" >
            <!-- Port -->
            <value>${port}</value>
        </constructor-arg>

        <constructor-arg type="java.lang.String" >
            <!-- Database server -->
            <value>${hostname}</value>
        </constructor-arg>

        <constructor-arg type="boolean" >
            <!-- Check for locks and remove them (in case of a crash) -->
            <value>true</value>
        </constructor-arg>

        <constructor-arg type="java.lang.String" >
            <!-- Database Backend (either "postgis" or "monetdb") -->
            <value>${dbengine}</value>
        </constructor-arg>
        
        <constructor-arg>
             <list>
	             <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>Query 1: Select all CLC information for Venice</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX strdf:<http://strdf.di.uoa.gr/ontology#>
PREFIX rdf:<http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>

SELECT ?clc ?clcType ?clcID ?clcCode ?clcRemark ?clcShapeLength ?clcArea ?clcAreaHa ?clcLandUse ?clcGeo
WHERE {
   ?clc a ?clcType .
   ?clc teleios:hasCode ?clcCode .
   ?clc teleios:hasID ?clcID .
   ?clc teleios:hasRemark ?clcRemark  .
   ?clc teleios:hasShape_Leng ?clcShapeLength .
   ?clc teleios:hasShape_Area ?clcArea .
   ?clc teleios:hasArea_ha ?clcAreaHa .
   ?clc teleios:hasLandUse ?clcLandUse .
   ?clc teleios:hasGeometry ?clcGeo .
   #Venice
   FILTER (strdf:inside(?clcGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:inside(?clcGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:inside(?clcGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>Query 2: Select all LGD information for Venice</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX strdf:<http://strdf.di.uoa.gr/ontology#>
PREFIX rdf:<http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX lgd:<http://linkedgeodata.org/triplify/>
PREFIX lgdgeo:<http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX lgdont:<http://linkedgeodata.org/ontology/>

SELECT ?lgd ?lgdDirectType (GROUP_CONCAT(?lgdType ; separator=", ") AS ?lgdTypes) ?lgdLabel ?lgdGeo
WHERE {
   ?lgd lgdont:directType ?lgdDirectType .
   OPTIONAL {
      ?lgd a ?lgdType .
      FILTER ((?lgdType != lgdont:Node) && (?lgdType != ?lgdDirectType)) .
   }
   ?lgd rdfs:label ?lgdLabel .
   ?lgd lgdgeo:geometry ?lgdGeo .
   #Venice
   FILTER (strdf:inside(?lgdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:inside(?lgdGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:inside(?lgdGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .

}
GROUP BY ?lgd ?lgdDirectType ?lgdLabel ?lgdGeo
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>Query 3: Select all Geonames information for Venice</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX strdf:<http://strdf.di.uoa.gr/ontology#>
PREFIX rdf:<http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:<http://www.w3.org/2000/01/rdf-schema#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX lgd:<http://linkedgeodata.org/triplify/>
PREFIX lgdgeo:<http://www.w3.org/2003/01/geo/wgs84_pos#>
PREFIX lgdont:<http://linkedgeodata.org/ontology/>
PREFIX geonames:<http://www.geonames.org/ontology#>

SELECT ?geoID ?name (GROUP_CONCAT(?altName; separator=", ") AS ?altNames) ?parentFeature ?parentCountry ?parentADM1 ?parentADM2 ?parentADM3 (GROUP_CONCAT(?near; separator=", ") AS ?nearFeatures) ?geoIdGeo
WHERE {
?geoId geonames:name ?name .
OPTIONAL {?geoId geonames:alternateName ?altName } .
?geoId geonames:featureClass ?geoFeature .
?geoId geonames:countryCode ?country .
OPTIONAL {?geoId geonames:parentFeature ?parentFeature . } .
OPTIONAL {?geoId geonames:parentCountry ?parentCountry . } .
OPTIONAL {?geoId geonames:parentADM1 ?parentADM1 . } .
OPTIONAL {?geoId geonames:parentADM2 ?parentADM2 . } .
OPTIONAL {?geoId geonames:parentADM3 ?parentADM3 . } .
OPTIONAL {?geoId geonames:nearbyFeatures ?near . } .
?geoId teleios:hasGeography ?geoIdGeo .
   #Venice
   FILTER (strdf:inside(?geoIdGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:inside(?geoIdGeo, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:inside(?geoIdGeo, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY  ?geoID ?name ?parentFeature ?parentCountry ?parentADM1 ?parentADM2 ?parentADM3 ?geoIdGeo
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>Query 4: Select all patches and their corresponding labels</value> 
	                <!-- Statement -->
	                <value><![CDATA[#select all patches and their labels (Venice)
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>


SELECT ?g (GROUP_CONCAT(?annotation; separator=", ") AS ?labels)
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   #Venice
   FILTER (strdf:inside(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:inside(?g, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:inside(?g, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?g
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>Query 5: Select all patches corresponding to water</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>


SELECT ?g (GROUP_CONCAT(?annotation; separator=", ") AS ?labels)
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo dlr:Water .
   #Venice
   FILTER (strdf:inside(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:inside(?g, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:inside(?g, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?g
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>KML</value>   
	                <!-- Label -->
	                <value>Query 6: Select all patches corresponding to all subclasses of water</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>


SELECT ?g (GROUP_CONCAT(?annotation; separator=", ") AS ?labels)
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   ?annotation rdfs:subClassOf dlr:Water .
   #Venice
   FILTER (strdf:inside(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .
   #Toulouse
   #FILTER (strdf:inside(?g, "POLYGON((1.3816636 43.573734,1.4903361 43.588024,1.4783715 43.634777,1.3696271 43.620483,1.3816636 43.573734))"^^strdf:WKT)) .
   #Timisoara
   #FILTER (strdf:inside(?g, "POLYGON((21.188068 45.7305,21.286903 45.74229,21.275377 45.79014,21.176264 45.778324,21.188068 45.7305))"^^strdf:WKT)) .
}
GROUP BY ?g
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>map_local</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>Query 7: List all features that are inside an area charatecterized as continuous urban fabric according to CLC</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX geof:<http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>

SELECT DISTINCT ?clcLandUse ?annotation #?g 
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   FILTER (strdf:inside(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   ?clc a ?clcType .
   ?clc teleios:hasCode ?clcCode .
   ?clc teleios:hasID ?clcID .
   ?clc teleios:hasLandUse teleios:continuousUrbanFabric .
   ?clc teleios:hasGeometry ?clcGeo .
   FILTER (strdf:inside(?clcGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   FILTER (geof:sf-contains(?clcGeo, ?g)) . 
}
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value>plain</value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>Query 8: List all features that are inside a CLC</value> 
	                <!-- Statement -->
	                <value><![CDATA[PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX dlr: <http://www.earthobservatory.eu/ontologies/dlrOntology.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX strdf: <http://strdf.di.uoa.gr/ontology#>
PREFIX teleios:<http://teleios.di.uoa.gr/ontologies/noaOntology.owl#>
PREFIX geof:<http://www.opengis.net/def/queryLanguage/OGC-GeoSPARQL/1.0/function/>

SELECT ?clcLandUse(GROUP_CONCAT(DISTINCT ?annotation; separator=",\n\t\t\t\t\t ") AS ?annotations)  #?g 
WHERE {
   ?p rdf:type dlr:Patch .        
   ?p dlr:hasGeometry ?g .
   ?p dlr:hasLabel ?l .
   ?l rdf:type dlr:Label .
   ?l dlr:correspondsTo ?annotation .
   FILTER (strdf:inside(?g, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   ?clc a ?clcType .
   ?clc teleios:hasCode ?clcCode .
   ?clc teleios:hasID ?clcID .
   ?clc teleios:hasLandUse ?clcLandUse .
   ?clc teleios:hasGeometry ?clcGeo .
   FILTER (strdf:inside(?clcGeo, "POLYGON ((12.301451 45.40493,12.398127 45.416817,12.386066 45.46502,12.289288 45.45313,12.301451 45.40493))"^^strdf:WKT)) .

   FILTER (geof:sf-contains(?clcGeo, ?g)) . 
}
GROUP BY ?clcLandUse
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value></value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>Query 9: </value> 
	                <!-- Statement -->
	                <value><![CDATA[
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value></value>
	            </list>
	            <list>
	                 <!-- Bean -->
	                <value>Query</value> 
	                <!-- Format -->
	                <value>HTML</value>   
	                <!-- Label -->
	                <value>Query 10: </value> 
	                <!-- Statement -->
	                <value><![CDATA[
	                ]]></value>
	                <!-- Description -->
					<value></value>
					<!-- Hander (plain, download, map or map_local)-->
					<value></value>
	            </list>
            </list>
         </constructor-arg>
    </bean>
</beans>
